@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    @font-face {
        font-family: "NetflixSans";
        font-weight: 500;
        src: url("/public/fonts/NetflixSans-Bold.otf") format("woff2"), url("/public/fonts/NetflixSans-Bold.otf") format("otf");
    }
   
}